@font-face {
  font-family: 'Jiyuno Tsubasa';
  src: url(../../fonts/JiyunoTsubasa.ttf) format('truetype');
}

.title {
  font-size: 2rem;
  font-weight: 400;
  border-top: solid 2px #285fc6;
  border-bottom: solid 2px #285fc6;
  margin: 0.5rem 0;
  padding: 0.01rem 2rem;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Jiyuno Tsubasa';
}

.title span {
  display: inline-block;
  transform: translate(0, -105%);
  opacity: 0;
}

.outView span {
  transform: translate(0, -105%);
  opacity: 0;
}

.inView span {
  animation: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) slidein;
  animation-fill-mode: forwards;
}

@keyframes slidein {
  from {
    transform: translate(0, -105%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.title span:nth-child(2) {
  animation-delay: 0.06s;
}
.title span:nth-child(3) {
  animation-delay: 0.12s;
}
.title span:nth-child(4) {
  animation-delay: 0.18s;
}
.title span:nth-child(5) {
  animation-delay: 0.24s;
}
.title span:nth-child(6) {
  animation-delay: 0.3s;
}
.title span:nth-child(7) {
  animation-delay: 0.36s;
}
.title span:nth-child(8) {
  animation-delay: 0.42s;
}
.title span:nth-child(9) {
  animation-delay: 0.48s;
}
.title span:nth-child(10) {
  animation-delay: 0.54s;
}
.title span:nth-child(11) {
  animation-delay: 0.6s;
}
.title span:nth-child(12) {
  animation-delay: 0.66s;
}
.title span:nth-child(13) {
  animation-delay: 0.72s;
}
.title span:nth-child(14) {
  animation-delay: 0.78s;
}
.title span:nth-child(15) {
  animation-delay: 0.84s;
}
.title span:nth-child(16) {
  animation-delay: 0.9s;
}
.title span:nth-child(17) {
  animation-delay: 0.96s;
}
.title span:nth-child(18) {
  animation-delay: 1.02s;
}
.title span:nth-child(19) {
  animation-delay: 1.08s;
}
.title span:nth-child(20) {
  animation-delay: 1.14s;
}
.title span:nth-child(21) {
  animation-delay: 1.2s;
}
