.arxiv {
  height: 1.2rem;
  margin-top: 0.4rem;
  position: relative;
  display: inline-block;
}

.arxiv img {
  object-fit: contain;
  position: relative !important;
  /* width: auto !important; */
}
