.heading2 {
  position: relative;
  z-index: 0;
  font-size: 1.9rem;
  padding-left: 0.2em;
  padding-bottom: -3px;
  line-height: 1em;
}
@media (max-width: 460px) {
  .heading2 {
    font-size: 1.7rem;
  }
}
@media (max-width: 400px) {
  .heading2 {
    font-size: 1.5rem;
  }
}

.heading2::after {
  position: absolute;
  content: '';
  display: block;
  bottom: -3px;
  left: -0.2em;
  width: calc(100% + 0.2em);
  height: 3px;
  background: linear-gradient(
    90deg,
    #5475d7ee 0%,
    #5475d7ee 20%,
    #cce4ffa1 20%,
    #cce4ffa1 40%,
    transparent 100%
  );
  z-index: -1;
}

.heading2 span {
  margin-left: 0.5em;
  font-size: 1.5rem;
  line-height: 1em;
}
@media (max-width: 460px) {
  .heading2 span {
    font-size: 1.4rem;
  }
}
@media (max-width: 400px) {
  .heading2 span {
    font-size: 1.3rem;
  }
}
