.heading2 {
  border-bottom: solid 3px #cce4ff;
  position: relative;
  font-size: 1.9rem;
  padding-left: 0.2em;
  padding-bottom: -3px;
  line-height: 1em;
}

.heading2::after {
  position: absolute;
  content: '';
  display: block;
  border-bottom: solid 3px #5472cd;
  bottom: -3px;
  left: -0.2em;
  width: 20%;
  z-index: 0;
}

.heading2 span {
  margin-left: 0.5em;
  font-size: 1.5rem;
  line-height: 1em;
}
