.languageSwitcher {
  display: flex;
}

.langButton {
  display: block;
  text-align: center;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  user-select: none;
  /* -webkit-transition: all 0.3s;
  transition: all 0.3s; */
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  border: none;
  width: 5.5em;
  height: 2.2em;
  color: #0c2a70;
  margin: 2px;
  padding: 0;
}

.langButton span {
  padding: 0 0.2em;
  border-bottom: 1px solid #0c2a70;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.langButton span:hover {
  border-bottom: 1.5px solid #26d7f6;
}
