.publication {
  position: relative;
  margin: 0 1.4em;
}

.publication::before {
  position: absolute;
  left: -1em;
  top: 0.6em;
  width: 0.5em;
  height: 0.5em;
  transform: rotate(-45deg);
  border-bottom: 3px solid #f28c2d;
  border-right: 3px solid #f28c2d;
  content: '';
}

.title {
  font-size: 1.1rem;
}
