.basicBox {
  position: relative;
  top: 20%;
  height: 60%;
  width: 75%;
  display: flex;
  align-items: center;
}

.basicBox::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff99;
}

.basicBox.outView::before {
  transform: translateX(-100%);
}
.basicBox.inView::before {
  transform: translateX(0);
  transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
}

.scholarProfile {
  margin-left: 0.5rem;
}

.outView .githubProfile,
.outView .scholarProfile {
  opacity: 0;
}

.inView .githubProfile,
.inView .scholarProfile {
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0.5s;
}

.icon {
  position: relative;
  z-index: 200;
}

.iconBox {
  position: relative;
  width: 200px;
  height: 200px;
}

.iconBox img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.iconBox img:nth-child(1) {
  mask-image: linear-gradient(to right, #000 33%, transparent 33%);
  -webkit-mask-image: linear-gradient(to right, #000 33%, transparent 33%);
}
.iconBox img:nth-child(2) {
  mask-image: linear-gradient(
    to right,
    transparent 33%,
    #000 33%,
    #000 67%,
    transparent 67%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 33%,
    #000 33%,
    #000 67%,
    transparent 67%
  );
}
.iconBox img:nth-child(3) {
  mask-image: linear-gradient(to right, transparent 67%, #000 67%);
  -webkit-mask-image: linear-gradient(to right, transparent 67%, #000 67%);
}

.outView .iconBox img:nth-child(1),
.outView .iconBox img:nth-child(3) {
  transform: translate(0, -100%);
  opacity: 0;
}
.outView .iconBox img:nth-child(2) {
  transform: translate(0, 100%);
  opacity: 0;
}

.inView .iconBox img:nth-child(1),
.inView .iconBox img:nth-child(2),
.inView .iconBox img:nth-child(3) {
  transform: translate(0, 0);
  transition:
    transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s,
    opacity 0.4s ease-in-out 0.5s;
}

.basicContent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 3%;
  flex-grow: 1;
}
@media (max-width: 900px) {
  .basicContent {
    padding: 0 1rem;
  }
}

@media (max-width: 990px) {
  .basicBox {
    width: 80%;
  }
}
@media (max-width: 930px) {
  .basicBox {
    width: 85%;
  }
}
@media (max-width: 860px) {
  .basicBox {
    width: 90%;
  }
}
@media (max-width: 790px) {
  .basicBox {
    width: 93%;
  }
}

@media (max-width: 850px) {
  .iconBox {
    width: 180px !important;
    height: 180px !important;
  }
}

.basicText {
  margin-left: 3%;
  width: calc(100% - 300px);
  flex-grow: 1;
}

.name {
  font-size: 3rem;
}
@media (max-width: 800px) {
  .name {
    font-size: 2.8rem;
  }
}
@media (max-width: 750px) {
  .name {
    font-size: 2.5rem;
  }
}

.caveat {
  font-size: 1.3rem;
  line-height: 1.1em;
}

@font-face {
  font-family: 'HuiFont29';
  src: url(../../fonts/HuiFont29.ttf) format('truetype');
}
.fuiji {
  font-family: 'HuiFont29';
  font-size: 1.1em;
  line-height: 1.1em;
}

@media (max-width: 600px) {
  .basicContent {
    align-items: flex-start;
  }
  .iconBox {
    width: 3.8rem !important;
    height: 3.8rem !important;
  }
  .name {
    font-size: 2.8rem;
  }
  .affiliation {
    width: 85vw;
    position: relative;
    left: -4rem;
  }
  .githubProfile,
  .scholarProfile {
    position: relative;
    left: -4rem;
  }
}
@media (max-width: 500px) {
  .iconBox {
    width: 3.5rem !important;
    height: 3.5rem !important;
  }
  .name {
    font-size: 2.5rem;
  }
}
