.workExperience {
  margin: 0.8em 1.4em 0;
  display: flex;
  align-items: flex-start;
  justify-content: start;
}
@media (max-width: 665px) {
  .workExperience {
    margin-left: 0.8em;
    margin-right: 0.2em;
  }
}
@media (max-width: 520px) {
  .period {
    display: none;
  }
}
@media (min-width: 520px) {
  .periodInner {
    display: none;
  }
}

.period {
  width: 12rem;
}

.period span {
  display: inline-block;
}

@media (max-width: 900px) {
  .period {
    width: 6rem;
  }
}
@media (min-width: 900px) {
  .period br {
    display: none;
  }
}

.content {
  padding-left: 1rem;
  flex: 1;
}
@media (max-width: 520px) {
  .content {
    padding-left: 0;
  }
}

.description {
  position: relative;
  margin-left: 2rem;
  width: auto;
}

.description::before {
  position: absolute;
  content: '';
  left: -1em;
  top: 0.8em;
  height: 0;
  width: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 7px solid #f6a38b;
  transform: translateY(-50%);
}

.position,
.periodInner {
  position: relative;
  margin-left: 2rem;
  width: auto;
}
@media (max-width: 670px) {
  .description,
  .position,
  .periodInner {
    margin-left: 1rem;
  }
}

@media (max-width: 550px) {
  .description,
  .position,
  .periodInner {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .description,
  .position,
  .periodInner {
    margin-left: 0.7rem;
  }
}
@media (max-width: 430px) {
  .description,
  .position,
  .periodInner {
    margin-left: 0.4rem;
  }
}

.position::before,
.periodInner::before {
  content: '';
  position: absolute;
  border: 1.9px solid #f6a38b;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: -1em;
  top: 0.5em;
}
